<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.ischoolbar.programmer.apply.mapper.ApplyMapper">

	<resultMap type="com.ischoolbar.programmer.apply.vo.ApplyVo"
		id="applyVoResult">
		<id column="apply_id" property="applyId" />
		<result column="cid" property="cid" />
		<result column="item_id" property="itemId" />
		<result column="apply_num" property="applyNum" />
		<result column="dept_id" property="deptId" />
		<result column="eid" property="eid" />
		<result column="apply_date" property="applyDate" />
		<result column="apply_remark" property="applyRemark" />
		<result column="cname" property="cname" />
		<result column="item_name" property="itemName" />
		<result column="item_price" property="itemPrice" />
		<result column="unit" property="unit" />
		<result column="ename" property="ename" />
		<result column="dept_name" property="deptName" />
		<result column="total_price" property="totalPrice" />
	</resultMap>

	<!-- 查询物品请领信息带分页 -->
	<select id="selectApplyPageVo" resultMap="applyVoResult">
		SELECT
		a.*,i.item_name,i.item_price,i.unit,c.cname,e.ename,d.dept_name,(a.apply_num
		*
		i.item_price) total_price
		FROM apply a
		LEFT JOIN item i ON a.item_id =
		i.item_id
		LEFT JOIN category c on i.cid = c.cid
		LEFT JOIN employee e ON
		a.eid = e.eid
		left JOIN department d ON e.dept_id = d.dept_id
		<where>
			<if
				test="apply.deptId != null and apply.deptId != '' and apply.deptId != 1000">
				and a.dept_id = ${apply.deptId}
			</if>
			<!-- 按日查询 -->
			<if test="apply.dateMode == 0">
				<if test="apply.applyDate != null">
					and to_days(a.apply_date) =
					to_days('${apply.applyDate}')
				</if>
			</if>
		</where>
		order by a.apply_id asc
	</select>

	<select id="selectBySummary" resultMap="applyVoResult">
		SELECT 		
		d.dept_name,c.cname,SUM(a.apply_num * i.item_price) total_price
		FROM apply a
		LEFT JOIN item i ON a.item_id = i.item_id
		LEFT JOIN category c on i.cid = c.cid
		LEFT JOIN employee e ON a.eid = e.eid
		left JOIN department d ON e.dept_id = d.dept_id
		<where>
			<if	test="apply.deptId != null and apply.deptId != '' and apply.deptId != 1000">
				and a.dept_id = ${apply.deptId}
			</if>
			<!-- 按月查询 DATE_FORMAT(apply_date,'%Y-%m') = '${date}' -->
			<if test="apply.dateMode == 1">
				<if test="apply.date != null">
					and DATE_FORMAT(apply_date,'%Y-%m') = '${apply.date}'
				</if>
			</if>
			<!-- 按年查询 YEAR(apply_date) = '2020' -->
			<if test="apply.dateMode == 2">
				<if test="apply.date != null">
					and YEAR(apply_date) = '${apply.date}'
				</if>
			</if>
		</where>
		GROUP BY d.dept_name,c.cname
	</select>
	
	<select id="selectByChart" resultMap="applyVoResult">
		SELECT 		
		d.dept_name,SUM(a.apply_num * i.item_price) total_price
		FROM apply a
		LEFT JOIN item i ON a.item_id = i.item_id
		LEFT JOIN category c on i.cid = c.cid
		LEFT JOIN employee e ON a.eid = e.eid
		left JOIN department d ON e.dept_id = d.dept_id
		<where>
			<if	test="apply.deptId != null and apply.deptId != '' and apply.deptId != 1000">
				and a.dept_id = ${apply.deptId}
			</if>
			<!-- 按月查询 DATE_FORMAT(apply_date,'%Y-%m') = '${date}' -->
			<if test="apply.dateMode == 1">
				<if test="apply.date != null">
					and DATE_FORMAT(apply_date,'%Y-%m') = '${apply.date}'
				</if>
			</if>
			<!-- 按年查询 YEAR(apply_date) = '2020' -->
			<if test="apply.dateMode == 2">
				<if test="apply.date != null">
					and YEAR(apply_date) = '${apply.date}'
				</if>
			</if>
		</where>
		GROUP BY d.dept_name
	</select>
</mapper>